@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400;1,700&display=swap');
body,
html {
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  padding: 0;
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.float-right {
  float: right;
}
.h-screen {
  height: 100vh;
}
.h-full {
  height: 100%;
}

.w-full {
  height: 100%;
}

.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
.w-full {
  width: 100%;
}
.m-2 {
  margin: 0.5rem;
}
.m-4 {
  margin: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}

.p-1 {
  padding: 0.25rem;
}
.p-4 {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.bread-crumb {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.icon {
  scale: 1.2;
  transition: all 0.3 ease-in-out;
}

.icon:hover {
  color: #1890ff;
  scale: 1.5;
}

.font-700 {
  font-weight: 700;
  line-height: 140%;
}

.bg-success {
  background-color: #70C040;
  
}

.bg-warning {
  background-color: #EFAF41;
}

.bg-danger {
  background-color: #E23C39;
}

/*============== Custom Antd css =============== */
.ant-drawer-body {
  padding: 0;
}
.ant-table-thead > tr > th {
  font-weight: bold !important;
}

/*============== End Custom Antd css ============ */